.Container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 230, 199, 0.959),
    rgba(255, 230, 199, 0.904)
  ),repeat-y url("../art/pizzabg3.jpg");
  background-size: cover;
  background-color: #ffe6c7;
}

.goAndError{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.errorSpan{
  color: red;
  font-weight: 600;
}

.tagline {
  width: auto;
  color: #ff6000;
  margin: 10px;
  font-style: italic;
  font-size: 20px;
}

.formContainer {
  height: max-content;
  width: 27%;
  padding: 20px;
  margin: auto;
  background-color: #ff6000;
  border-radius: 8%;
  align-items: center;
  justify-content: center;
}

.TitleContainer {
  width: max-content;
  padding: 5px;
  margin: auto;
  border-radius: 8%;
  align-items: center;
  justify-content: center;
}
.Title {
  color: #ff6000;
  font-family: "Sacramento";
  text-align: center;
  display: flex;
  font-size: 150px;
  margin: auto;
}

.field {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 16px;
  border: #ffbd86df 4.5px solid;
  outline: none;
  background-color: #ffe6c7;
}

.field::placeholder {
  color: #0a9396;
  font-weight: bold;
  opacity: 0.5;
}

.field:focus {
  border: #ff6000 3px solid;
}

.formm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginN {
  color: #ffe6c7  ;
  font-size: 30px;
  margin: 1% 0 6% 2%;
}

.buttlog{
    width: 40%;
  border: none;
  border-radius: 16px;
  padding: 15px 20px;
  background:#ffa559;
  color: #ffe6c7;
  margin: 8px 0;
  font-size: 20px;
  transform: 2s ;
}

.buttlog:hover{
  background: #ffe6c7;
  color:#ff6000
  
}

.links{
  color: #ffe6c7;
  font-size: 14px;
    margin: 7px auto 0;
    font-weight: bold;
}