.navbarContainer{
    display: flex;
    height: 90px;
    background: linear-gradient(
    rgba(255, 98, 0, 0.807),
    rgba(255, 98, 0, 0.8)
  ),repeat-y url("../art/pizzabg3.jpg");
  background-size: cover;
  background-color: #FF6000;
  color: #FFE6C7;
  
}

.left{
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.middle{
    padding: 10px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    
}

.right{
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.navItems{
    color: #FFA559;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 0 20px;
    background-color: #FFE6C7;
    cursor: pointer;
}

.navItemss{
    cursor: pointer;
}

.navItemss:hover{
    color: #FFA559;
}


.titleHead{
    color: #FFE6C7;
    margin: 5px 15px 0;
    font-size: 70px;
    font-family: "Sacramento";
    top:0.5px;
    left: 5px;
}

.titleHead:hover{
    color: #FFA559;
}